body {
    background: #111;
}
.card {
    display: flex;
    position: relative;
    padding: 4rem;
    justify-content: center;
    align-items: center;
}
.inputarea {
    display: flex;
    padding: 6rem;
    background: white;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.inputarea input {
    padding: 1rem;
    outline: none;
}
.inputarea button {
    padding: 1rem;
    outline: none;
}